
.coures_plan_title_button3{
	border: none;
	background-color: white;
	color: #1f283e;
	float: right;
	font-size: 22px;
	margin-top:4px;
}


#course_plan{
}

.coures_plan_plus_button{
	border: none;
	color: #1f283e;
	float: right;
}

.coures_plan_minus_button{
	border: none;
	color: gray;	
}

.coures_plan_minus_button_td{
	width: 5%;
}

.coures_plan_weeks_td{
	width: 10%;
}

.table input{
	width: 100%;
	
}
.s_input{
	width: 50%;
}