<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.uni.persistence.AdminDAO">

	<select id="getAttendance_Cnt" resultType="int">
		SELECT COUNT(*) as cnt
		FROM ATTENDANCE
	</select>

	<select id="getAttendance_List" parameterType="java.util.Map"
		resultType="com.kosmo.uni.vo.AdminVO">
		SELECT * FROM ATTENDANCE ORDER BY num desc
	</select>

	<select id="getSalary_list_human" parameterType="java.util.Map"
		resultType="com.kosmo.uni.vo.AdminVO">
		SELECT s.salary_inday,
		s.sal_num,
		s.id,
		s.salary_month,
		m.name,
		m.depart
		FROM a_salary s join a_admin m
		ON s.id = m.id
	</select>
	
	<insert id="salary_input" parameterType="java.util.Map">
		INSERT INTO a_salary_input
		VALUES (salaryList_seq.nextVal,#{salary_division},#{payments_division},#{payments_start},#{payments_end},#{salary_inday},#{payments_month},#{salary_name},1,0,0)
	</insert>
	
	<select id="getSalaryCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM a_salary_input
	</select>
	
	<select id="getSalaryList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.SalaryInputVO">
		<![CDATA[
		SELECT * 
			FROM (SELECT salary_input_num, salary_division, payments_division, salary_confirm
	        , salary_inday, payments_month, salary_total, salary_name, division_cnt, rowNUM rNum 
			FROM ( SELECT * FROM a_salary_input ORDER BY salary_input_num DESC)) 
		WHERE rNum >=#{start} AND rNum <=#{end}
		]]>
	</select>
	
	<select id="getCourseCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM course
	</select>
	<select id="getCourseList" resultType="com.kosmo.uni.vo.CourseVO">
		SELECT distinct c.co_code co_code
            , c.co_name co_name
            , c.m_code m_code
            , c.p_code p_code
    		, c.limit_num limit_num
     		, c.co_num co_num
            , c.grade grade_1
     		, c.co_year co_year
            , c.co_semester co_semester
            , c.co_day co_day
            , c.le_code le_code
     		, p.name name_1
		  		FROM STUDENT_COURSE sc
		   			, STUDENT s
		   			, COURSE c
		   			, PROFESSOR p
		 			WHERE sc.id = s.id
				    AND sc.co_code = c.co_code
	</select>

	<select id="getAdminCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM a_admin
	</select>
	<select id="getSelectList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.SalaryVO">
		SELECT m.id id,
		       m.name name, 
		       m.enterday enterday,
		       m.rank rank,
		       d.depart_name, 
		       s.salary_input_num, s.payments_division, s.division_cnt, s.salary_total, s.salary_division,
		        s.salary_name, ss.salary, s.salary_inday, m.car, v.meal, v.contract_vehicle, b.rate, d.depart_name
		  FROM a_salary_input s ,a_admin m, a_salaryset ss, a_variablecost v, a_bonusset b, a_depart d
		 where s.payments_division = m.Payments_division
		    and m.depart = d.depart
		    and ss.Rank = m.rank
		    and m.car = v.cost
		    and b.rank = m.rank
		    and s.salary_input_num = #{salary_input_num}
	</select>
	
	<select id="getDivisionCnt" resultType="int">
		SELECT Count(*) as cnt
		  FROM a_salary_input s 
		  Join a_admin m
		    ON s.payments_division = m.Payments_division
		 where s.salary_input_num = #{salary_input_num} and s.payments_division = #{payments_division}
	</select>
	
	<update id="updateDivCnt" parameterType="java.util.Map">
		update a_salary_input
 		set division_cnt = #{division_cnt} where salary_input_num = #{salary_input_num}
	</update>
	
	<select id="getSalaryArticle" resultType="com.kosmo.uni.vo.SalaryInputVO">
		select salary_division, payments_division, salary_name, salary_inday, salary_input_num, salary_confirm from a_salary_input where salary_input_num = #{salary_input_num}
	</select>
	
	<update id="UpdateSalInput" parameterType="java.util.Map">
		update a_salary_input
		set salary_division=#{salary_division}, 
		payments_division = #{payments_division}, 
		salary_inday = #{salary_inday}, 
		salary_name = #{salary_name} 
		where salary_input_num = #{salary_input_num} 
	</update>
	
	<delete id="deleteSalary" parameterType="int">
		delete a_salary_input where salary_input_num = #{salary_input_num}
	</delete>
	
	<update id="updateTotalSal" parameterType="java.util.Map">
		update a_salary_input 
 		set salary_total=#{salary_total} where salary_input_num = #{salary_input_num}
	</update>
	
	<update id="updateZeroTotal" parameterType="int">
		update a_salary_input 
		set salary_total = 0 where salary_input_num = #{salary_input_num}
	</update>
	<select id="selectSalSum" resultType="int">
	 select sum(sa.salary) salary
	   from a_salary_input s, a_admin a, a_salaryset sa
	  where s.payments_division = a.Payments_division
	    and sa.rank = a.rank
	    and s.salary_input_num = #{salary_input_num}
	</select>
	
	<select id="getMealCar" resultType="com.kosmo.uni.vo.SalaryVO">
		select sum(v.meal) meal, sum(v.contract_vehicle) contract_vehicle
		  from a_salary_input s, a_admin a, a_variablecost v
		 where s.payments_division = a.Payments_division
		   and a.car = v.cost
		   and s.salary_input_num = #{salary_input_num}
	</select>
	
	<select id="getPayslip" resultType="com.kosmo.uni.vo.PayslipVO">
		SELECT m.id,
		       m.name, 
		       m.enterday,
		       m.rank, m.email,
		       d.depart_name, 
		       s.salary_input_num, s.payments_division, s.division_cnt, s.salary_total, s.salary_division,
		        s.salary_name, ss.salary, s.salary_inday, m.car, v.meal, v.contract_vehicle, b.rate
		  FROM a_salary_input s ,a_admin m, a_salaryset ss, a_variablecost v, a_bonusset b, a_depart d
		 where s.payments_division = m.Payments_division
		    and m.depart = d.depart
		    and ss.Rank = m.rank
		    and m.car = v.cost
		    and b.rank = m.rank
		    and s.salary_input_num=#{salary_input_num}
		    and m.id = #{id}
	</select>
	
	<select id="salary_payslip" resultType="com.kosmo.uni.vo.SalaryVO">
		select salary_name from a_salary_input where salary_input_num=#{salary_input_num}
	</select>
	
	<insert id="insertSal" parameterType="com.kosmo.uni.vo.SalaryVO">
		INSERT INTO a_SALARY (num, id, meal, overtime, contract_vehicle, pay, paytotal, salary_month, salary_input_num, salary_name, salary_division)
		VALUES (salary_seq.nextVal, #{id}, #{meal}, #{overtime}, #{contract_vehicle}, #{pay}, #{paytotal}, #{salary_month}, #{salary_input_num}, #{salary_name}, #{salary_division})
	</insert>
	
	
	<select id="getSelectSalaryList" resultType="com.kosmo.uni.vo.SalaryVO">
		<![CDATA[
			SELECT id, name, enterday, rank, depart_name, 
	        salary_input_num, payments_division, division_cnt, salary_total, salary_division,
	        salary_name, salary, salary_inday, car, meal, contract_vehicle, rate, depart_name, 
	        ROWNUM FROM (SELECT * FROM SALARY_VIEW WHERE salary_input_num =#{salary_input_num})
			WHERE ROWNUM >=#{start} AND ROWNUM<=#{end}
		]]>
	</select>
	
	<insert id="insertBns" parameterType="com.kosmo.uni.vo.SalaryVO">
		INSERT INTO a_bonus (num, id, rate, bonustotal, bonus_month, salary_input_num, salary_name, salary_division)
		VALUES (bonus_seq.nextVal, #{id}, #{rate}, #{bonustotal}*0.5, #{bonus_month}, #{salary_input_num}, #{salary_name}, #{salary_division})
	</insert>
	
	<select id="getSelectConfirm" resultType="int">
		select salary_confirm from a_salary_input where salary_input_num=#{salary_input_num}
	</select>
	
	<update id="getUpdateConfirm" parameterType="java.util.Map">
		update a_salary_input set salary_confirm=2 where salary_input_num=#{salary_input_num}
	</update>
	
	<select id="getSeleteConfirmOne" resultType="com.kosmo.uni.vo.SalaryVO">
		SELECT a.id, a.name, a.rank, d.depart_name, s.pay, s.meal, s.contract_vehicle, s.paytotal, s.salary_input_num, s.salary_month, s.salary_division, s.salary_name
		  FROM a_admin a, a_salary s, a_depart d
		 where a.id = s.id
		   and d.depart = a.depart
		   and s.salary_input_num=#{salary_input_num}
	</select>
	
	<select id="getSeleteConfirmTwo" resultType="com.kosmo.uni.vo.SalaryVO">
		SELECT a.id, a.name, a.rank, d.depart_name, b.bonustotal, b.rate, b.salary_input_num, b.bonus_month, b.salary_division, b.salary_name
		  FROM a_admin a, a_bonus b, a_depart d
		 where a.id = b.id
		   and d.depart = a.depart
		   and b.salary_input_num=#{salary_input_num}
	</select>
	
	<delete id="deleteSalaryConfirm" parameterType="int">
		delete from a_salary where salary_input_num=#{salary_input_num}
	</delete>
	<delete id="deleteBonusConfirm" parameterType="int">
		delete from a_bonus where salary_input_num=#{salary_input_num}
	</delete>
</mapper>