<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosmo.uni.persistence.AdminDAO">

	<select id="getAttendance_Cnt" resultType="int">
		SELECT COUNT(*) as cnt
		FROM ATTENDANCE
	</select>
	
	<select id="getAttendance_Search_Cnt" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT COUNT(*) as cnt
		FROM ATTENDANCE
		WHERE TO_CHAR(inday,'YYYY-MM-DD') >=#{st, jdbcType=VARCHAR} AND TO_CHAR(inday,'YYYY-MM-DD') <=#{et, jdbcType=VARCHAR}
		]]>
	</select>

	<select id="getAttendance_List" parameterType="java.util.Map"
		resultType="com.kosmo.uni.vo.AdminVO">
		<![CDATA[
		SELECT * 
			FROM (SELECT num, id, inday, intime, outtime, instate, 
			             outstate, rowNum rNum  
			        FROM (
			               SELECT * FROM attendance
			                ORDER BY num   
			             )  
			      ) 
			WHERE rNum >= #{start} AND rNum <= #{end}
		]]>

	</select>

	<select id="getAttendance_List_Search"
		parameterType="java.util.Map" resultType="com.kosmo.uni.vo.AdminVO">
		<![CDATA[
		SELECT * 
			FROM (SELECT num, id, inday, intime, outtime, instate, 
			             outstate, rowNum rNum  
			        FROM (
			               SELECT * FROM attendance
			                ORDER BY num   
			             )  
			      ) 
			WHERE rNum >= #{start} AND rNum <= #{end}
		AND TO_CHAR(inday,'YYYY-MM-DD') >=#{st, jdbcType=VARCHAR} AND TO_CHAR(inday,'YYYY-MM-DD') <=#{et, jdbcType=VARCHAR}
		]]>
	</select>

	<select id="getSalary_Cnt" resultType="int">
		SELECT COUNT(*)/4 as cnt
		FROM salary

	</select>

	<select id="getSalary_list_human" parameterType="java.util.Map"
		resultType="com.kosmo.uni.vo.AdminVO">
		<![CDATA[
		SELECT * FROM
		(
		SELECT s.salary_inday,
		s.sal_num,
		s.id,
		s.salary_month,
		m.name,
		d.depart_name
		FROM salary s
		,manager m
		,depart d
		WHERE s.id = m.id
		AND m.depart = d.depart
		order by salary_inday
		)
		PIVOT
		(
		SUM(salary_month)
		FOR
		sal_num IN (1 AS sal, 2 AS over, 3 AS meals, 4 AS car)
		)
        WHERE ROWNUM >= #{start} AND ROWNUM <= #{end}
		]]>
		
	</select>

	<select id="getSalary_list_human_Search"
		parameterType="java.util.Map" resultType="com.kosmo.uni.vo.AdminVO">
		SELECT * FROM
		(
		SELECT
		s.salary_inday,
		s.sal_num,
		s.id,
		s.salary_month,
		m.name,
		d.depart_name
		FROM
		salary s
		,manager m
		,depart d
		WHERE s.id = m.id
		AND m.depart = d.depart
		AND m.name =#{name,jdbcType=VARCHAR}
		)
		PIVOT
		(
		SUM(salary_month)
		FOR
		sal_num IN (1 AS sal, 2 AS over, 3 AS meals, 4 AS car)
		)
	</select>

	<select id="getSalary_list_month" parameterType="java.util.Map"
		resultType="com.kosmo.uni.vo.AdminVO">
		SELECT * FROM
		(
		SELECT s.salary_inday,
		s.sal_num,
		s.id,
		s.salary_month,
		m.name,
		d.depart_name
		FROM salary s
		,manager m
		,depart d
		WHERE s.id = m.id
		AND m.depart = d.depart
		)
		PIVOT
		(
		SUM(salary_month)
		FOR
		sal_num IN (1 AS sal, 2 AS over, 3 AS meals, 4 AS car)
		)
	</select>

	<select id="getSalary_list_month_Search"
		parameterType="java.util.Map" resultType="com.kosmo.uni.vo.AdminVO">
		<![CDATA[
		SELECT * FROM
		(
		SELECT
		s.salary_inday,
		s.sal_num,
		s.id,
		s.salary_month,
		m.name,
		d.depart_name
		FROM
		salary s
		,manager m
		,depart d
		WHERE s.id = m.id
		AND m.depart = d.depart
		AND TO_CHAR(s.salary_inday,'YYYY-MM') >=#{sm,jdbcType=VARCHAR} AND TO_CHAR(s.salary_inday,'YYYY-MM') <=#{em,jdbcType=VARCHAR}
		)
		PIVOT
		(
		SUM(salary_month)
		FOR
		sal_num IN (1 AS sal, 2 AS over, 3 AS meals, 4 AS car)
		)
		]]>
	</select>


</mapper>