<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kosmo.uni.persistence.AndDAO">

	<select id="confirmIdPwdStu" resultType="java.util.Map" parameterType = "String">
		SELECT id, name, pwd FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="confirmIdPwdAdm" resultType="java.util.Map" parameterType = "String">
		SELECT id, name, pwd FROM A_ADMIN WHERE id=#{id}
	</select>
	
	<select id="getStudentInfo" resultType="com.kosmo.uni.vo.StudentVO">
		SELECT id, name, pwd FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="getAdminInfo" resultType="com.kosmo.uni.vo.Manager">
		SELECT id, name, pwd FROM A_ADMIN WHERE id=#{id} 
	</select>

</mapper>