<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kosmo.uni.persistence.AndroidDAO">
	<select id="confirmIdPwdStu" resultType="java.util.Map" parameterType = "String">
		SELECT id, name, pwd FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="confirmIdPwdAdm" resultType="java.util.Map" parameterType = "String">
		SELECT id, name, pwd FROM A_ADMIN WHERE id=#{id}
	</select>
	
	<select id="getStudentInfo" resultType="com.kosmo.uni.vo.StudentVO">
		SELECT * FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="getAdminInfo" resultType="com.kosmo.uni.vo.Manager">
		SELECT * FROM A_ADMIN WHERE id=#{id}
	</select>

	<select id="whatNfc" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) as cnt FROM A_NFC WHERE pnum = #{phonenum} AND TAGINTIME LIKE '%'||#{today}||'%'
	</select>
	
	<insert id="hiNfc" parameterType="com.kosmo.uni.vo.nfcVO">
		INSERT INTO A_NFC (NUM, PNUM) 
		VALUES (NFC_SEQ.nextval, #{pnum})
	</insert>
	
	<update id="byeNfc" parameterType="java.util.Map">
		UPDATE A_NFC 
		SET TAGOUTTIME = TO_CHAR(SYSDATE, 'YYYY/MM/DD/(DY) HH24:MI')
		WHERE PNUM = #{phonenum}
		AND TAGINTIME LIKE '%'||#{today}||'%'
	</update>
</mapper>