<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kosmo.uni.persistence.AndroidDAO">
	<select id="confirmIdPwdStu" resultType="java.util.Map" parameterType = "String">
		SELECT * FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="confirmIdPwdAdm" resultType="java.util.Map" parameterType = "String">
		SELECT * FROM A_ADMIN WHERE id=#{id}
	</select>
	
	<select id="confirmIdPwdPro" resultType="java.util.Map" parameterType = "String">
		SELECT * FROM P_PROFESSOR WHERE id=#{id}
	</select>
	
	<select id="getStudentInfo" resultType="com.kosmo.uni.vo.StudentVO">
		SELECT * FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<select id="getAdminInfo" resultType="com.kosmo.uni.vo.Manager">
		SELECT * FROM A_ADMIN WHERE id=#{id}
	</select>
	
	<select id="getProinInfo" resultType="com.kosmo.uni.vo.HumanVO">
		SELECT * FROM P_PROFESSOR WHERE id=#{id}
	</select>

	<select id="whatNfc" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) as cnt FROM A_NFC WHERE pnum = #{phonenum} AND TAGINTIME LIKE '%'||#{today}||'%'
	</select>
	
	<insert id="hiNfc" parameterType="com.kosmo.uni.vo.nfcVO">
		INSERT INTO A_NFC (NUM, PNUM) 
		VALUES (NFC_SEQ.nextval, #{pnum})
	</insert>
	
	<update id="byeNfc" parameterType="java.util.Map">
		UPDATE A_NFC 
		SET TAGOUTTIME = TO_CHAR(SYSDATE + 9/24, 'YYYY/MM/DD/(DY) HH24:MI')
		WHERE PNUM = #{phonenum}
		AND TAGINTIME LIKE '%'||#{today}||'%'
	</update>
	
	<select id="whatCar" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt FROM A_ADMIN WHERE CARNUM LIKE '%'||#{carNum}||'%'
	</select>
	
	<select id="carNum" parameterType="String" resultType="String">
		SELECT CARNUM FROM A_ADMIN WHERE CARNUM LIKE '%'||#{carNum}||'%'
	</select>
	
	<select id="todayCar" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) as cnt FROM A_PARKING WHERE CARNUM = #{carNum} AND PINTIME LIKE '%'||#{today}||'%'
	</select>
	
	<insert id="hiParking" parameterType="com.kosmo.uni.vo.ParkVO">
		INSERT INTO A_PARKING (NUM, CARNUM) 
		VALUES (CAR_SEQ.nextval, #{carNum})
	</insert>
	
	<update id="byeParking" parameterType="java.util.Map">
		UPDATE A_PARKING 
		SET POUTTIME = TO_CHAR(SYSDATE + 9/24, 'YYYY/MM/DD/(DY) HH24:MI')
		WHERE CARNUM = #{carNum}
		AND PINTIME LIKE '%'||#{today}||'%'
	</update>
	
	<select id="workchecklist" parameterType="String" resultType="com.kosmo.uni.vo.nfcVO">
		SELECT a.tagintime tagintime , a.tagouttime tagouttime 
		  FROM A_NFC a, A_ADMIN b
		 WHERE a.pnum = b.tel AND id = #{id}
	</select>
	
	<select id="getManinfo" resultType="com.kosmo.uni.vo.Manager">
		SELECT * FROM A_ADMIN WHERE id=#{id}
	</select>
	
	<update id="maninfosave" parameterType="java.util.Map">
		UPDATE A_ADMIN
		SET TEL = #{tel}, EMAIL = #{email}, ADDRESS = #{address}, DE_ADDRESS = #{address2}
		WHERE id = #{id}
	</update>
	
	<select id="getStuInfo" resultType="com.kosmo.uni.vo.StudentVO">
		SELECT * FROM S_STUDENT WHERE id=#{id}
	</select>
	
	<update id="stuinfosave" parameterType="java.util.Map">
		UPDATE S_STUDENT
		SET TEL = #{tel}, EMAIL = #{email}, ADDRESS = #{address}, DE_ADDRESS = #{address2}
		WHERE id = #{id}
	</update>
	
	<select id="getProInfo" resultType="com.kosmo.uni.vo.HumanVO">
		SELECT * FROM P_PROFESSOR WHERE id=#{id}
	</select>
	
	<update id="Proinfosave" parameterType="java.util.Map">
		UPDATE P_PROFESSOR
		SET TEL = #{tel}, EMAIL = #{email}, ADDRESS = #{address}, DE_ADDRESS = #{address2}
		WHERE id = #{id}
	</update>
	
	<select id="getMyCourse" resultType="java.util.Map">
		SELECT C.CO_NAME CO_NAME, C.P_NAME P_NAME, T.DAY DAY, T.TIME TIME, C.GRADE GRADE
			 , S.NAME NAME, M.M_NAME, S.PHOTO PHOTO
		FROM VIEW_TIMETABLE T, A_COURSE C, S_STUDENT S, A_MAJOR M
		WHERE T.CO_CODE = C.CO_CODE
		AND T.ID = S.ID
		AND S.M_CODE = M.M_CODE
		AND T.ID = #{id} 
		AND C.CO_YEAR = #{year} 
		AND C.CO_SEMESTER = #{semester}
		AND T.DAY = #{day}
	</select>

	<select id="getMyScore" resultType="java.util.Map">
		SELECT S.PHOTO, P.ID, S.NAME, M.M_NAME, C.CO_NAME, C.P_NAME, C.CO_DAY, C.LE_CODE, C.GRADE, P.GRADES_CODE
		FROM P_STUDENT_SCORE P, S_STUDENT S, A_COURSE C, A_MAJOR M
		WHERE P.CO_CODE = C.CO_CODE
		AND P.ID = S.ID
		AND S.M_CODE = M.M_CODE
		AND P.ID = #{id}
		AND C.CO_YEAR = #{year}
		AND C.CO_SEMESTER = #{semester}
	</select>
	
	<select id="getMyCourse_pro" resultType="java.util.Map">
		SELECT distinct(c.co_code), t.day, t.time , c.grade, c.co_name, p.name, m.m_name, p.photo FROM A_COURSE c, p_professor p, A_MAJOR m  ,VIEW_TIMETABLE T
	    WHERE c.p_name = p.name
	    AND p.M_CODE = m.M_CODE
	    AND t.co_code = c.co_code
	    AND p.ID = #{id} 
	    AND C.CO_YEAR = #{year} 
	    AND C.CO_SEMESTER = #{semester}
	    ORDER BY decode(day, '월','1','화','2','수','3','목','4','금','5')
	</select>
	
	<select id="getclasscheck" parameterType="String" resultType="com.kosmo.uni.vo.InClassHowVO">
		SELECT c.CO_NAME co_name FROM A_COURSE c , P_PROFESSOR p WHERE c.P_NAME = p.name AND p.name = #{name}
	</select>
	
	<select id="getclasschecknext" parameterType="String" resultType="com.kosmo.uni.vo.InClassHowVO">
		SELECT s.name student, s.id id, m.m_name m_name
		  FROM A_COURSE a
		     , S_STUDENT s
		     , VIEW_TIMETABLE v
		     , A_MAJOR m
		 WHERE v.id = s.id
		   AND m.m_code = s.m_code
		   AND a.CO_CODE = v.CO_CODE
		   AND a.co_name = #{title}
	</select>
	
	<select id="getshoplist" resultType="com.kosmo.uni.vo.ShopVO">
		SELECT * FROM S_SHOP
	</select>
</mapper>