<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   	  
<mapper namespace = "com.kosmo.uni.persistence.EduDAO">
	<insert id = "insertUser" parameterType = "java.util.Map">
		INSERT INTO users(userid, password, username, enabled, authority)
			VALUES(#{userid}, #{passwd}, #{username}, 1, #{authority})
	</insert>
	
	<select id = "selectUser" resultType = "java.util.Map">
		SELECT userid, password, username, enabled, authority
		  FROM users
		 WHERE userid = #{userid}
	</select>
	<select id = "test" parameterType = "String" resultType = "com.kosmo.uni.vo.TestVO">
		SELECT userid, username, password, enabled, authority
		  FROM users
		 WHERE userid = #{userid}
	</select>
	<select id="studentIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM student WHERE id=#{ id }
	</select>
	<select id="getStudentInfo" resultType="com.kosmo.uni.vo.StudentVO">
		SELECT * FROM student WHERE id= #{id}
	</select>
	<update id="updateStudentInfo" parameterType="com.kosmo.uni.vo.StudentVO">
		UPDATE student SET tel=#{tel}, address=#{address}, 
		de_address=#{de_address}, email=#{email} WHERE id=#{id}
	</update>
	<select id="getCourseCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM course
	</select>
	<select id="getCourseList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.CourseVO">
		SELECT c.p_code p_code
    		, c.co_code co_code
    		, c.co_day co_day
    		, c.co_name co_name
     		, c.le_code le_code
     		, c.grade grade_1
     		, p.name name_1
		  		FROM STUDENT_COURSE sc
		   			, STUDENT s
		   			, COURSE c
		   			, PROFESSOR p
		 			WHERE sc.id = s.id
				    AND sc.co_code = c.co_code
				    AND c.p_name = p.id
	</select>
	<select id="getGradeCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM student_grades
	</select>
	<select id="getGradeList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.CourseVO">
		SELECT g.grades_code grade_code
		     , c.p_code p_code
		     , c.co_name co_name
		     , c.grade grade_1
		     , p.name name_1
		     , c.co_year co_year
     		 , c.co_semester co_semester
     		 , s.name name
     		 , s.entrancedate entrancedate
			  FROM STUDENT_GRADES g
				   , STUDENT s
				   , COURSE c
				   , PROFESSOR p
				 WHERE g.id = s.id
				   AND c.co_code = g.co_code
				   AND c.p_name = p.id
				   AND s.id = #{id}
				   AND c.co_semester = #{value}
	</select>
</mapper>