<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   	  
<mapper namespace = "com.kosmo.uni.persistence.ProfessorDAO">
	<select id = "getProfessorProfile" parameterType = "String" resultType = "java.util.Map">
		SELECT *
		  FROM P_PROFESSOR P
			 , A_MAJOR A
		 WHERE ID = #{id}
		   AND P.M_CODE = A.M_CODE
	</select>
	
	<select id="getMessageCnt" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt FROM p_message where receiver_id = #{id}
	</select>
	
	<select id="getMessageCnt_send" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt FROM p_message where sender_id = #{id}
	</select>
	
	<select id="getMessageCnt_notRead" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt FROM p_message where sender_id = #{id} AND readchk = 0
	</select>
	
	<select id="getMessageList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.MessageVO">
	<![CDATA[
		SELECT * FROM (SELECT num, title, content, m_code, receiver_id, receiver, sender_id, sender, readchk, reg_date, rowNum rNum 
		  FROM (SELECT * FROM p_message where receiver_id = #{id})) WHERE rNum >= #{start} AND rNum <= #{end}
	]]>
	</select>	
	
	<select id="getMessageList_send" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.MessageVO">
	<![CDATA[
		SELECT * FROM (SELECT num, title, content, m_code, receiver_id, receiver, sender_id, sender, readchk, reg_date, rowNum rNum 
		  FROM (SELECT * FROM p_message where sender_id = #{id})) WHERE rNum >= #{start} AND rNum <= #{end}
	]]>
	</select>
	
	<select id="getMessage" parameterType="int" resultType="com.kosmo.uni.vo.MessageVO">
		SELECT * FROM p_message WHERE num = #{num}
	</select>
	
	<update id="updateReadChk" parameterType="int">
		UPDATE p_message SET readchk = 1 WHERE num = #{num} 
	</update>

	<select id="getMessageList_notRead" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.MessageVO">
		<![CDATA[
		SELECT * FROM (SELECT num, title, content, m_code, receiver_id, receiver, sender_id, sender, readchk, reg_date, rowNum rNum 
		  FROM (SELECT * FROM p_message where sender_id = #{id} AND readchk = 0)) WHERE rNum >= #{start} AND rNum <= #{end}
		]]>
	</select>
	
	<select id="getInfoCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM p_info
	</select>
	
	<select id="getInfoList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.InfoVO">
	<![CDATA[
		SELECT * FROM (SELECT num, title, content, writer, reg_date, rowNum rNum 
		  FROM (SELECT * FROM p_info)) WHERE rNum >= #{start} AND rNum <= #{end}
	]]>
	</select>
	
	<select id="getCourseCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM a_course where p_name = #{p_name}
	</select>
	
	<select id="getCourseList" parameterType="java.util.Map" resultType="com.kosmo.uni.vo.CourseVO">
	<![CDATA[
		SELECT * FROM (SELECT co_code, co_name, co_day, le_code, grade, co_num, plan_chk, rowNum rNum 
		  FROM (SELECT * FROM a_course WHERE p_name = #{p_name} ORDER BY decode(co_day, '월','1','화','2','수','3','목','4','금','5'), le_code asc)) WHERE rNum >= #{start} AND rNum <= #{end}
	]]>
	</select>
	
	<select id="getInfoDetail" resultType="com.kosmo.uni.vo.InfoVO">
		SELECT * FROM p_info where num = #{num}
	</select>

	<update id="updateMyPage" parameterType="com.kosmo.uni.vo.HumanVO">
		UPDATE p_professor SET tel =#{tel}, email =#{email}, address = #{address}, de_address = #{de_address} WHERE id = #{id} 
	</update>
	
	
	<insert id="insertSyllabus" parameterType="com.kosmo.uni.vo.CoursePlanVO">
		INSERT INTO p_syllabus VALUES(#{co_code}, #{id}, #{subject}, #{week_1}, #{week_2}, #{week_3}, #{week_4}, #{week_5}, #{week_6}, #{week_7}, #{week_8}, #{week_9}, #{week_10}, #{week_11}, #{week_12})
	</insert>
	
	<insert id="insertGradePoint" parameterType="com.kosmo.uni.vo.CoursePlanVO">
		INSERT INTO p_grade_point VALUES(#{co_code}, #{id}, #{attend}, #{midterm}, #{finals}, #{assign_report}, #{assign_team})
	</insert>
	
	<update id="updateCoursePlanChk" parameterType="java.util.Map">
		UPDATE a_course SET plan_chk = #{plan_chk} WHERE co_code = #{co_code} 
	</update>
	
	<select id="getCoursePlan" resultType="com.kosmo.uni.vo.CoursePlanVO">
		SELECT * from p_syllabus s, p_grade_point p WHERE s.co_code = p.co_code AND s.co_code = #{co_code}
	</select>
	
	<update id="updateSyllabus" parameterType="com.kosmo.uni.vo.CoursePlanVO">
		UPDATE p_syllabus SET subject = #{subject}, week_1 = #{week_1}, week_2 = #{week_2}, week_3 = #{week_3}, week_4 = #{week_4}, week_5 = #{week_5}, week_6 = #{week_6}, week_7 = #{week_7}, week_8 = #{week_8}, week_9 = #{week_9}, week_10 = #{week_10}, week_11 = #{week_11}, week_12 = #{week_12} WHERE co_code = #{co_code} 
	</update>
	
	<update id="updateGradePoint" parameterType="com.kosmo.uni.vo.CoursePlanVO">
		UPDATE p_grade_point SET attend = #{attend}, midterm = #{midterm}, finals = #{finals}, assign_report = #{assign_report}, assign_team = #{assign_team} WHERE co_code = #{co_code} 
	</update>
	
	<select id="getCalendarList" resultType="com.kosmo.uni.vo.CalendarVO">
		SELECT * FROM p_calendar where id=#{id}
	</select>
	
	<insert id="insertPlan" parameterType="com.kosmo.uni.vo.CalendarVO">
		INSERT INTO p_calendar(id, title, startDate, endDate) values(#{id},#{title},#{startDate},#{endDate})
	</insert>
	
</mapper>